{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for column_name in view_model.column_names %}
        <h2>{{column_name}}</h2>
        <ul class="list-group mb-4">
          {% for item in view_model.items %}
            {% if item.status == column_name %}
              <li>{{item.name}}</li>
              {% if column_name != "Done" %}
                <form action="{{ url_for('update_item_status', item_id=item.id, current_list_id=item.list_id) }}" method="post">
                  <button type="submit">&#8594</button>
                </form>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endfor %}
      <h2>Update your To-Do List</h2>
      <form method="POST" action="/add-todo">
          <label>Add a new item</label>
          <input type="text" name="todo" value=""/>
          <button>Submit</button>
      </form>
    </div>
  </div>
{% endblock %}