{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% for column_name in view_model.column_names %}
        <h2>{{column_name}}</h2>
        <ul class="list-group mb-4">
          {% if column_name == "To Do" %}
            {% for item in view_model.todo_items %}
              <li>{{item.name}}</li>
                <form action="{{ url_for('update_item_status', item_id=item.id, current_status=item.status) }}" method="post">
                  <button type="submit">&#8594</button>
                </form>
            {% endfor %}
          {% elif column_name == "Doing" %}
            {% for item in view_model.doing_items %}
              <li>{{item.name}}</li>
              <form action="{{ url_for('update_item_status', item_id=item.id, current_status=item.status) }}" method="post">
                <button type="submit">&#8594</button>
              </form>
            {% endfor %}
          {% elif column_name == "Done" %}
            {% for item in view_model.done_items %}
              <li>{{item.name}}</li>
            {% endfor %}
          {% endif %}
        </ul>
      {% endfor %}
      <h2>Update your To-Do List</h2>
      <form method="POST" action="/add-todo">
          <label>Add a new item</label>
          <input type="text" name="todo" value=""/>
          <button>Submit</button>
      </form>
    </div>
  </div>
{% endblock %}