name: CI/CD Pipeline
on:
  push:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
  pull_request:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
jobs: 
  test: 
    name: Build and test 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v2 
    - name: Build Docker test image
      run: docker build --target tests --tag todo-app:test .
    - name: Run tests in Docker
      run: docker run todo-app:test
  dependency-scan: 
    name: Check dependencies for vulnerabilities
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v2 
    - name: Build Docker dependency scan image
      run: docker build --target dependency-scan --tag todo-app:dependencies .
    - name: Run dependency scan
      run: docker run todo-app:dependencies
      continue-on-error: true
  deploy:
    name: Update Docker image and deploy
    runs-on: ubuntu-latest
    needs: [test, dependency-scan]
    if: (github.ref == 'refs/heads/master') && (github.event_name == 'push')
    env:
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build versioned docker image
        run: docker build --target production --tag ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA .

      - name: Build prod docker image
        run: docker build --target production --tag ${{ secrets.DOCKER_USERNAME }}/todo-app:prod .
      
      - name: Push versioned image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA
      
      - name: Push prod image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:prod

      - run: echo "Pushed versioned image with tag ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA and production image to Docker"

      - name: Initialise Terraform
        run: terraform init

      - name: Apply Terraform config
        run: terraform apply -auto-approve -var prefix=${{ vars.TF_VAR_PREFIX }} -var flask_env=${{ vars.TF_VAR_FLASK_ENV }} -var flask_secret_key=${{ secrets.TF_VAR_FLASK_SECRET_KEY }} -var log_level=${{ vars.TF_VAR_LOG_LEVEL }} -var loggly_token=${{ secrets.TF_VAR_LOGGLY_TOKEN }}

      - run: echo "Infrastructure provisioned"

      - name: Deploy updated image to Azure
        run: curl -dH -X POST "$(terraform output -raw webhook-url)"

      - run: echo "Deployment initiated"