name: CI/CD Pipeline
on:
  push:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
  pull_request:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
jobs: 
  test: 
    name: Build and test 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v2 
    - name: Build Docker test image
      run: docker build --target tests --tag todo-app:test .
    - name: Run tests in Docker
      run: docker run todo-app:test
  deploy:
    name: Update Docker image and deploy
    runs-on: ubuntu-latest
    needs: test
    if: (github.ref == 'refs/heads/master') && (github.event_name == 'push')
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build versioned docker image
        run: docker build --target production --tag ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA .

      - name: Build prod docker image
        run: docker build --target production --tag ${{ secrets.DOCKER_USERNAME }}/todo-app:prod .
      
      - name: Push versioned image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA
      
      - name: Push prod image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:prod

      - run: echo "Pushed versioned image with tag ${{ secrets.DOCKER_USERNAME }}/todo-app:$GITHUB_SHA and production image to Docker"

      - name: Deploy updated image to Azure
        run: curl -dH -X POST ${{ secrets.DEPLOY_WEBHOOK }}

      - run: echo "Deployment initiated"