name: Continuous Integration 
on:
  push:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
  pull_request:
    paths-ignore:
      - README.md
      - ansible/*
      - .vscode/*
      - .venv/*
      - .pytest_cache/*
      - '**__pycache__/*'
      - tests/.pytest_cache/*
jobs: 
  test: 
    name: Build and test 
    runs-on: ubuntu-latest 
    steps: 
    - uses: actions/checkout@v2 
    - name: Build Docker test image
      run: docker build --target tests --tag todo-app:test .
    - name: Run tests in Docker
      run: docker run todo-app:test
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: test
    if: (github.ref == 'refs/heads/master') && (github.event_name == 'push')
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build prod docker image
        run: docker build --target production --tag ${{ secrets.DOCKER_USERNAME }}/todo-app:prod .
      
      - name: Push prod docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/todo-app:prod
